
/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: rgba(245, 245, 245, 0.6);
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.navbar-header, .navbar-nav>li {
  padding: 15px 0;
}
.navbar-brand {
  padding: 0 15px;
}
.navbar-brand img {
  display: inline;
}

.first.container {
  padding: 90px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}


html[lang=fa] *{
  font-family:'BYekan',calibri;
}

body {
  background-color: orangered;
  color: #eee;
}
.animation {
  background: no-repeat center;
  background-image: url("/assets/img/ghablameh-2.svg"), url("/assets/img/ghablameh-1.svg");

  width: 100%;
  height: 227px;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}
.animation .items {
    width: 35px;
    height: 35px;
    background: transparent no-repeat center;
    background-size: 100%;
    position: absolute;
    left: 150px;
    top: 150px;
    -moz-animation: items 0.2s infinite ease-in-out;
    -moz-transform-origin: 150% 150%;
    -webkit-animation: items 0.2s infinite ease-in-out;
    -webkit-transform-origin: 150% 150%;
    -o-animation: items 0.2s infinite ease-in-out;
    -o-transform-origin: 150% 150%;
    -ms-animation: items 0.2s infinite ease-in-out;
    -ms-transform-origin: 150% 150%;
    animation: items 0.2s infinite ease-in-out;
    transform-origin: 75% 75%;
}
.animation .item-1 {
    background-image:  url("/assets/img/item-1.svg");
}
.animation .item-2 {
    left: 210px;
    top: 110px;
    background-image:  url("/assets/img/item-2.svg");
    transform-origin: 70% 150%;
    animation-duration: 0.15s;
}
.animation .item-3 {
    left: 155px;
    top: 110px;
    background-image:  url("/assets/img/item-2.svg");
    transform-origin: 120% 50%;
    animation-duration: 0.1s;
}
.animation .item-4 {
    left: 115px;
    top: 80px;
    background-image:  url("/assets/img/item-4.svg");
    transform-origin: 120% 75%;
    animation-duration: 0.2s;
}
.animation .item-5 {
    width: 20px;
    left: 215px;
    top: 55px;
    background-image:  url("/assets/img/item-5.svg");
    transform-origin: 150% 150%;
    animation-duration: 0.08s;
}
@-moz-keyframes items {
    0%{-moz-transform:rotate(3deg)}
    50%{-moz-transform:rotate(1deg)}
    100%{-moz-transform:rotate(3deg)}
}

@-webkit-keyframes items {
    0%{-webkit-transform:rotate(3deg)}
    50%{-webkit-transform:rotate(1deg)}
    100%{-webkit-transform:rotate(3deg)}
}

@-o-keyframes items {
    0%{-o-transform:rotate(3deg)}
    50%{-o-transform:rotate(1deg)}
    100%{-o-transform:rotate(3deg)}
}

@-ms-keyframes items {
    0%{-ms-transform:rotate(3deg)}
    50%{-ms-transform:rotate(1deg)}
    100%{-ms-transform:rotate(3deg)}
}

@keyframes items {
    0%{transform:rotate(3deg)}
    50%{transform:rotate(1deg)}
    100%{transform:rotate(3deg)}
}

.countdown {
  padding: 30px 0;
  background: rgba(0, 0, 0, 0.2);
}
.countdown-item, .countdown-item-content {
  padding: 15px;
}
.countdown-item-content {
  border: 1px solid darkgray;
}
.countdown-item-content .countdown-number {
  font-size: 2.5em;
  font-weight: 700;
}
.countdown-item-content .countdown-label {
  font-size: 1.5em;
}
body {
  visibility: visible !important;
}
.fa {
    font-family: FontAwesome !important;
}