@font-face{font-family:'BYekan';src:url('/assets/fonts/BYekan.eot?#') format('eot'),
url('/assets/fonts/BYekan.ttf') format('truetype'),
url('/assets/fonts/BYekan.woff') format('woff');}
@font-face {font-family: "Yekan";src: url(/assets/fonts/Yekan.eot);src: url(/assets/fonts/Yekan.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/Yekan.woff) format("woff"), url(/assets/fonts/Yekan.ttf) format("truetype"), url(/assets/fonts/Yekan.svg#BYekan) format("svg");}