    <!-- ***BANNER*** -->
    <div class="container first">
        <div class="page-header text-center">
            <h1>یه بشقاب ...</h1>
        </div>

        <div class="row">
            <div class="animation">
                <div class="items item-1"></div>
                <div class="items item-2"></div>
                <div class="items item-3"></div>
                <div class="items item-4"></div>
                <div class="items item-5"></div>
            </div>
        </div>

        <p dir="rtl" class="lead text-center">بزودی با امکانات ویژه و غیرمنتظره، شما را شگفت‌زده خواهیم کرد!</p>
    </div>