    <!-- ***COUNTDOWN*** -->
    <div id="countdown" class="countdown">
        <div class="container">
			<p dir="rtl" class="lead text-center">فقط ...</p>
            <div class="row text-center count-down">
                <div class="countdown-item col-sm-3 col-sm-push-9"><div class="countdown-item-content">
                    <div class="countdown-number" id="countdown-days">0</div>
                    <div class="countdown-label">روز</div>
                </div></div>

                <div class="countdown-item col-sm-3 col-sm-push-3"><div class="countdown-item-content">
                    <div class="countdown-number" id="countdown-hours">0</div>
                    <div class="countdown-label">ساعت</div>
                </div></div>

                <div class="countdown-item col-sm-3 col-sm-pull-3"><div class="countdown-item-content">
                    <div class="countdown-number" id="countdown-minutes">0</div>
                    <div class="countdown-label">دقیقه</div>
                </div></div>

                <div class="countdown-item col-sm-3 col-sm-pull-9"><div class="countdown-item-content">
                    <div class="countdown-number" id="countdown-seconds">0</div>
                    <div class="countdown-label">ثانیه</div>
                </div></div>

            </div>
			<p dir="rtl" class="lead text-center">باقی ‌مونده تا آماده شدن یه بشقاب ...</p>
        </div>
    </div>
